* {
  box-sizing: border-box;
}

.extra-space {
  display: none;
}

.header__burger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  z-index: 20;
}
.line {
  fill: none;
  stroke: white;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

html {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}

.btn {
  padding: 24px 75.5px;
  border-radius: 20px;
  background-color: #3F2AFF;
  color: white;  
  font-weight: 700;
  font-size: 18px;
  line-height: 21.09px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666;
}

.container-fluid {
  max-width: 1440px;
  padding: 0;
}

.row {
  max-width: 1140px;
}

.menu {
  width: 320px;
  height: 433px;  
  background-color: #2F2C45;
  position: absolute;
  transform: translateX(-201%);
  transition: transform 500ms linear;
  z-index: 10;
}

.menu__list {
  padding: 76px 173px 105px 15px;
  margin: 0;
  color: white;
}

.menu__list-item:not(:last-child) {
  margin-bottom: 56px;
}

.menu__list-item {
  font-size: 18px;
  line-height: 21.09px;
}

.is-active {
  transform: none;
}

/*header*/

.header {
  height: 80px;
  background-color: #3F2AFF;
}

.header__content {
  display: flex;
  align-items: center;
  max-width: 1102px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 29px;
  padding-bottom: 30px;
}

.header__logo {
  flex-shrink: 0;
  margin-left: -4px;
}

.header__nav {
  margin-left: auto;
  padding-top: 1px;
}

.header__burger {
  display: none;
}

.nav__list {
  display: flex;
  margin: 0;
  max-width: 470px;
  padding: 0;
}

.nav__list-item:not(:last-child) {
  margin-right: 56px;
}

.nav__link {
  color: white;
  font-size: 18px;
  line-height: 21.08px;
}

/*hero*/

.hero {
  height: 620px;
  display: flex;
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}

.hero__row {
  max-width: 1138px;
  margin-left: auto;
  margin-right: auto;
}

.hero__heading {
  max-width: 459px;
  margin-top: 130px;
  color: white;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.hero__text {
  margin-bottom: 88px;
  margin-top: 28px;
  width: 444px;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.hero__col-lg:first-child {
  padding-right: 9px;
}

.hero__col-lg:last-child {
  padding-left: 16px;
}

.hero__img {
  margin-top: 15px;
}

/*about*/

.about__advantages {
  display: flex;
  max-width: 805px;
  align-items: center;
  margin-right: auto;
  margin-bottom: 23px;  
  margin-top: 80px;
}

.about__advantages-heading {
  margin-bottom: 15px;
  max-width: 380px;
}

.about__advantages-content {
  margin-left: 30px;
}

.about__advantages-text {
  margin: 0;
}

.about__block-item {
  display: flex;
}

.about__block-item:first-child {
  padding-left: 0;
}

/*.about__block-item:last-child {
  padding-right: 0;
}*/

.about__block {
  margin: 0px auto 76px;
}

.about__block-img {
  margin-right: 30px;
  max-height: 80px;
  width: 80px;
  height: 80px;
}

.about__block-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  margin-top: 11px;
}

/*teachers*/

.teachers {  
  background-color: #212133;
}

.teachers__content {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 73px;
}

.teachers__heading {
  color: white;
  margin-left: 165px;
  padding-top: 75px;
  margin-bottom: 22px;
}

.teachers__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teachers__small-heading {
  color: white;
  align-self: flex-start;
  margin-top: 27px;
  margin-bottom: 7px;
  font-size: 18px;
  line-height: 27px;
}

.teachers__text {
  color: #85859B;
  margin: 0;
}

.teachers__img {
  width: auto;
}

/*courses*/

.courses {
  margin-bottom: 50px;
}

.courses__content {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.courses__block {
  min-height: 478px;
  /*min-width: 540px;*/
  background-color: #EDF0F9;
  border-radius: 20px;
  margin-bottom: 30px;
  position: relative;
}

/*.courses__col:first-child,
.courses__col:nth-child(3n) {
  padding-left: 0;
}

.courses__col:nth-child(2n) {
  padding-right: 0;
}*/

.courses__col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courses__btn {
  position: absolute;
  bottom: 30px;
  left: 30px;
  padding: 20.5px 59px;
  font-size: 16px;
  line-height: 18.75px;
}

.courses__heading {
  margin-left: 165px;
  margin-top: 74px;
  margin-bottom: 24px;
}

.courses__text {
  max-width: 480px;
  margin: 7px 30px 32px 30px;
}

.courses__small-heading {
  margin: 0;
  margin-left: 31px;
  margin-top: 26px;
  font-size: 18px;
  line-height: 27px;
}

.courses__time {
  position: absolute;
  top: 10px;
  right: 4px;
}

/*footer*/

.footer {  
  height: 80px;
  background-color: #2E2B44;
}

.footer__block {
  max-width: 218px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 28px;
}

.footer__license {
  background-color: #fff;
  display: flex;
}

.footer__license-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding-bottom: 3px;
  width: 103px;
}

@media (max-width: 1200px) {

  .row {
    max-width: 720px;
  }

  .header__content {
    max-width: 682px;
    padding-bottom: 5px;
  }

  .nav__list-item:not(:last-child) {
    margin-right: 56px;
  }


  .header__nav {
    padding-top: 0;
  }

  .hero__row {
    max-width: 720px;
    flex-wrap: nowrap;
  }

  .hero__heading {
    max-width: 385px;
    font-size: 50px;
    line-height: 50px;
  }

  .hero__text {
    width: 345px;
    margin-top: 18px;
  }

  .hero__img {
    margin-top: 117px;
  }

  .about__advantages {
    max-width: 690px;
  }

  .about__advantages-content {
    width: auto;
  }

  .about__advantages-text {
    width: auto;
  }

  .about__block-item {
    flex-direction: column;
  }

  .about__block-text {
    margin-top: 13px;
    margin-bottom: 0;
  }

  .teachers__small-heading {
    margin-top: 28px;
    margin-bottom: 6px;
  }

  .teachers__heading {
    padding-top: 74px;
    margin-left: 39px;
  }

  .test {
    margin-bottom: 23px;
  }

  .teachers__content {
    padding-bottom: 53px;
  }

  .teachers__text {
    max-width: 345px;
    padding-left: 8px;
  }

  .courses__heading {
    margin-left: 39px;
  }

  .courses__block {
    min-height: 556px;
  }

  .courses__btn {
    padding: 20.5px 55.5px;
  }

  .courses__time {
    top: 9px;
    right: 9px;
  }

  .courses__text {
    margin-right: 25px;
  }

  .footer__block {
    max-width: 216px;
  }
}

@media (max-width: 700px) {
  .row {
    max-width: 540px;
  }

  .header {
    height: 133px;
  }

  .header__content {
    /*max-width: 1480px;*/
    flex-direction: column;
  }

  .nav__list {
    padding: 0;
    margin: 0;
    margin-top: 32px;
  }

  .nav__list-item:not(:last-child) {
    margin-right: 56.5px;
  }

  .header__nav {
    margin-left: 0;
  }

  .hero {
    height: 567px;
    background: radial-gradient(49% 49% at 67.78% 84.57%, #555681 0%, #2E2B44 100%);
  }

  .hero__img {
    display: none;
  }

  .hero__heading {
    margin-top: 77px;
  }

  .hero__row {
    margin-left: 33px;
  }

  .hero__col-lg:first-child {
    padding-left: 0;
  }

  .additional-space::before {
    content: "\00a0 ";
  }

  .about__block {
    margin-top: 0;
    margin-bottom: 57px;
  }

  .about__advantages {
    align-items: flex-start;
  }

  .about__advantages-heading {
    margin-bottom: 17px;
  }

  .about__block-text {
    margin-top: 10px;
  }

  .teachers__heading {
    margin-left: 31px;
  }

  .teachers__img {
    width: 240px;
    height: 180px;
  }

  .teachers__text {
    max-width: 290px;
    padding-left: 0;
  }

  /*.courses__img {
    width: 240px;
    height: 180px;
  }*/

  .courses__block {
    min-height: 653px;
  }

  .courses__heading {
    margin-left: 33px;
  }

  .courses__small-heading {
    line-height: 23.4px;
    margin-top: 25.5px;
    margin-left: 29.5px;
  }

  .extra-space {
    display: block;
  }

  .courses__btn {
    padding: 20.5px 48px;
  }

  .courses__text {
    max-width: 230px;
    margin-top: 9px;
  }

  .footer__block {
    max-width: 216px;
  }
}

@media (max-width:500px) {

  h2 {
    font-size: 20px;
    line-height: 20px;
  }

  .row {
    max-width: 320px;
    /*margin: 0;*/
  }

  .btn  {
    font-size: 16px;
    line-height: 18.75px;
  }

  .header {
    height: 80px;
  }

  .header__content {
    flex-direction: row;
    /*max-width: 294px;*/
    max-width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 20px;
  }

  .header__logo {
    width: 72px;
    height: 16px;
    margin-left: 2px;
  }

  .header__nav {
    display: none;
  }

  .header__burger {
    display: block;
    margin-left: auto;
    margin-top: 2px;
  }

  .hero {
    height: 353px;
  }

  .hero__row {
    margin-left: 0;
    padding-left: 15px;
  }

  .additional-space::before {
    content: "";
  }

  .hero__col-lg {
    padding-left: 15px;
  }

  .hero__col-lg:first-child {
    padding-right: 15px;
  }

  .hero__heading {
    max-width: 226px;
    font-size: 30px;
    line-height: 30px;
    margin-top: 50px;
  }

  .hero__text {
    max-width: 290px;
    margin-top: 6px;
    margin-bottom: 65.5px;
    margin-right: 0;
    font-size: 16px;
    line-height: 20.8px;
  }

  .hero__btn {
    padding: 20.5px 53.5px;
  }

  .about__advantages {
    margin-top: 50px;
  }

  .about__block {
    margin-bottom: 20px;
    max-width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }

  .about__advantages-img {
    display: none;
  }

  .about__advantages-heading  {
    line-height: 26px;
    margin-bottom: 3px;
  }

  .about__advantages-content  {
    margin-left: 0;
  }

  .about__block-item {
    flex-direction: row;
    align-items: center;
    padding-bottom: 30px;
  }

  .about__block-text {
    margin-top: 0;    
  }

  .teachers__heading {
    padding-top: 47px;
    margin-left: 15px;
    margin-bottom: 26px;
  }

  .teachers__img,
  .courses__img {
    width: 290px;
    height: 180px;
  }

  .teachers__content {
    padding-bottom: 27px;
  }

  .courses__heading {
    margin-left: 15px;
    margin-top: 46px;
    margin-bottom: 27px;
  }

  .courses__small-heading {
    margin-left: 30px;
    margin-top: 27px;
    margin-bottom: 7px;
    max-width: 195px;
  }

  .courses__text {
    margin-left: 30px;
    max-width: 230px;
  }

  .courses__btn {
    padding: 20.5px 55.5px;
  }

  .courses {
    margin-bottom: 20px;
  }

  .footer__block {
    max-width: 216px;
    margin-left: auto;
    margin-right: auto;
  }


}

@media (max-width: 767px) {
  .hero__img {
    display: none;
  }
}

@media (max-width: 575px) {
  .courses__block {
    max-width: 290px;
  }
}